* {
    margin: 0;
    padding: 0;
}

body {
    background: url('/space-tourist/assets/technology/background-technology-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    color: white;
}

html {
    font-size: 16px;
}

header {
    display: flex;
}

header img {
    height: 2rem;
    margin: 2.7rem;
    width: 1.9rem;
}

.line {
    height: .01rem;
    width: 29.5rem;
    background-color: rgb(219, 219, 219);
    position: absolute;
    top: 3.8rem;
    left: 8rem;
    opacity: 0.4;
}

nav {
    display: flex;
    justify-content: right;
    margin-top: 1.8rem;
    width: 97%;
}

.navlist {
    display: flex;
    gap: 3.1rem;
    background: repeating-linear-gradient(90deg, #1b1e30, #55637D, #2a2f49, #4d6592);
    height: 1.8rem;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.navlist :nth-child(4) {
    padding-right: 3.05rem;
}

.navlist li {
    list-style: none;
}

.active{
    border-bottom: 2px solid white;  
}

.navlist li a {
    text-decoration: none;
    color: white;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.active{
    border-bottom: 2px solid white;
}

.navlist li a:hover {
    color: aquamarine;
}

#heading {
    color: white;
    margin-top: 3rem;
    margin-left: 10vw;
    font-size: 1.6rem;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
}

.content {
    display: flex;
    gap: 5vw;
}

.img {
    display: none;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    margin-top: 3rem;
}

.circle-link {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-left: 12vw;
    margin-top: 3rem;
}

.link a {
    text-decoration: none;
}

.link a div {
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 33px;
    background-color: transparent;
    border: 1px solid;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bellefair', serif;
    font-size: 2rem;
}

.link a div:hover {
    background-color: white;
    color: black;
}


.img img {
    margin-top: 3rem;
    height: 50vh;
    width: 25vw;
}

#small {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 1rem;
}

#big {
    font-family: 'Bellefair', serif;
    font-size: 3.5rem;
}

#sub-desc {
    font-family: 'Barlow', sans-serif;
    font-size: 1.125rem;
    width: 32vw;
    text-align: justify;
}


@media screen and (max-width: 279px) {
    body {
        display: none;
    }
}

@media screen and (min-width: 280px) {
    html {
        font-size: 65%;
    }

    body {
        background: url('/space-tourist/assets/technology/background-technology-mobile.jpg');
        border-style: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    header img {
        height: 3.7rem;
        width: 3.6rem;
    }

    .navlist {
        display: none;
    }

    .line {
        display: none;
    }

    #heading {
        margin-top: 0vh;
        margin-bottom: 2rem;
        margin-left: 0vw;
        text-align: center;
    }

    .circle-link {
        flex-direction: row;
        margin-left: 0vw;
        margin-top: 0rem;
    }

    .desc {
        align-items: center;
    }

    #small {
        font-size: 1.3rem;
    }

    #big {
        font-size: 2.8rem;
    }

    main {
        flex-direction: column;
        align-items: center;
    }

    #img-mobile {
        display: block;
    }

    .content {
        margin-left: 0vw;
        margin-top: 0vh;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    #img-mobile img {
        height: 15rem;
        width: 100vw;
    }

    .link {
        margin-top: 2rem;
        justify-content: center;
        gap: 2rem;
    }

    .sub-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 3rem;
    }

    #sub-desc {
        width: 84vw;
        text-align: center;
    }
}

@media screen and (min-width: 376px) and (max-width: 768px) {
    html {
        font-size: 75%;
    }

    body {
        background: url('/space-tourist/assets/technology/background-technology-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    .navlist {
        display: none;
    }

    #heading {
        font-size: 4vw;
        margin-left: 0vw;
        margin-top: 3rem;
        text-align: center;
    }

    #big {
        font-size: 8.5vw;
    }

    header img {
        margin: 1.5rem 0 1.5rem 1.5rem;
        height: 2.5rem;
        width: 2.4rem;
    }
}

@media screen and (width: 768px) {
    html {
        font-size: 80%;
    }

    body {
        background: url('/space-tourist/assets/technology/background-technology-tablet.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }

    nav{
        margin-top: 0rem;
    }

    header img {
        margin: 1.2rem 1.5rem 0rem 3rem;
        height: 2.7rem;
        width: 2.5rem;
    }

    .navlist {
        display: flex;
        width: 55vw;
        height: 2.2rem;
        gap: 6vw;
    }

    #heading {
        text-align: left;
        margin-left: 3rem;
        margin-top: 4rem;
    }

    .line{
        display: block;
        top: 2.3rem;
        width: 32vw;
    }

    nav{
        margin-top: 0rem;
    }
}

@media screen and (min-width: 769px) {
    html {
        font-size: 85%;
    }

    body {
        background: url('/space-tourist/assets/technology/background-technology-desktop.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }

    #img-mobile {
        display: none;
    }

    .navlist {
        display: flex;
        height: 3rem;
        background: #1b1e30;
        gap: 4.3vw;
    }

    .line{
        display: block;
        top: 4.4rem;
        width: 32vw;
    }

    #heading {
        text-align: left;
        margin-left: 8rem;
        margin-top: 4rem;
    }

    #big{
        font-size: 4.5vw;
    }

    .circle-link {
        flex-direction: column;
        margin-left: 8rem;
    }

    .img {
        display: block;
    }

    .img img {
        height: 42vh;
        width: 28vw;
        position: relative;
        top: 2rem;
    }

    #sub-desc {
        width: 38vw;
        text-align: justify;
    }

    .content {
        flex-direction: row;
        gap: 10vw;
    }

    .desc {
        align-items: baseline;
    }

    .content img {
        margin-top: 0vh;
    }

    header img {
        margin: 2.9rem 1.5rem 0rem 3rem;
        height: 2.7rem;
        width: 2.5rem;
    }
}

@media screen and (min-width: 1025px) {
    .navlist {
        width: 42vw;
        gap: 3vw;
    }

    .line {
        width: 48vw;
    }
}

@media screen and (min-width: 1280px) {
    .navlist {
        gap: 4vw;
    }

    .line {
        width: 52vw;
    }
}

@media screen and (min-width: 1720px) {
    .navlist {
        gap: 5.3vw;
    }

    .line {
        width: 54vw;
    }
}

@media screen and (min-width: 2181px) {
    .navlist {
        gap: 6vw;
    }

    .line {
        width: 57vw;
    }
}
